<app-navbar-style-one></app-navbar-style-one>

<section class="track-order-area pt-100 pb-70">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12">
                <div class="card card-stepper text-black">
                    <div class="card-body p-5">
                        <div
                            class="d-flex justify-content-between align-items-center mb-5"
                        >
                            <div>
                                <h5 class="mb-0 order-number">
                                    Order Number:
                                    <span class="text-primary">000000</span>
                                </h5>
                            </div>
                            <div class="text-end ">
                                <p class="mb-0">
                                    <span class="fw-bold "
                                        >Expected Arrival:
                                    </span>
                                    <span id="est-date-and-time-arrival"
                                        >01/01/23</span
                                    >
                                </p>

                                <a class="link-primary">See all updates</a>
                            </div>
                        </div>

                        <ul
                            id="progressbar-2"
                            class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2"
                        >
                            <li
                                class="step0 active text-center fw-bold"
                                id="step1"
                            ></li>
                            <li
                                class="step0 active text-center fw-bold"
                                id="step2"
                            ></li>
                            <li
                                class="step0 active text-center fw-bold"
                                id="step3"
                            ></li>
                            <li
                                class="step0 text-muted text-end fw-bold"
                                id="step4"
                            ></li>
                        </ul>

                        <div class="d-flex justify-content-between">
                            <div class="d-lg-flex align-items-center">
                                <i
                                    class="bx bxs-check-circle bx-lg me-lg-4 mb-3 mb-lg-0"
                                ></i>
                                <div>
                                    <p class="fw-bold mb-0">Order</p>
                                    <p class="fw-bold mb-0">Processed</p>
                                </div>
                            </div>
                            <div class="d-lg-flex align-items-center">
                                <i
                                    class="bx bxs-package bx-lg me-lg-4 mb-3 mb-lg-0"
                                ></i>
                                <div>
                                    <p class="fw-bold mb-0">Order</p>
                                    <p class="fw-bold mb-0">Shipped</p>
                                </div>
                            </div>
                            <div class="d-lg-flex align-items-center">
                                <i
                                    class="bx bxs-truck bx-lg me-lg-4 mb-3 mb-lg-0"
                                ></i>
                                <div>
                                    <p class="fw-bold mb-0">Order</p>
                                    <p class="fw-bold mb-0">En Route</p>
                                </div>
                            </div>
                            <div class="d-lg-flex align-items-center">
                                <i
                                    class="bx bxs-home bx-lg me-lg-4 mb-3 mb-lg-0"
                                ></i>
                                <div>
                                    <p class="fw-bold mb-0">Order</p>
                                    <p class="fw-bold mb-0">Arrived</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
