<app-navbar-style-one></app-navbar-style-one>

<div class="shipping-and-returns-area ptb-100">
    <div class="container">
        <div class="single-content">
            <div class="scetion-title text-center">
                <span>Shipping and Returns</span>
                <p>
                    Thank you for shopping with us! Please take a moment to
                    review our shipping and returns policy.
                </p>
            </div>
            <article class="mt-4">
                <section>
                    <h3>Shipping</h3>
                    <p>
                        Shipping is available within the USA, and we strive to
                        get your order to you as quickly as possible. Please
                        note that it takes up to 72 hours to process and prepare
                        your order for shipping. Here is the estimated delivery
                        time:
                    </p>
                </section>
                <section class="mt-3">
                    <h3>Returns</h3>
                    <p>
                        If there was an error on our part, we will gladly cover
                        the return shipping costs, and you can choose to receive
                        a replacement or a refund. If you decide to return an
                        item for reasons other than an error on our part (e.g.,
                        wrong size, changed your mind), you are responsible for
                        the return shipping costs.
                    </p>
                </section>
            </article>
        </div>
    </div>
</div>

<section class="contact-section pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Didn't see what you're looking for?</span>
            <h2>Ask Any Questions</h2>
        </div>

        <div class="slider-btn text-center mt-3">
            <a routerLink="/sign-up" class="default-btn">Contact Us</a>
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
