<app-navbar-style-one></app-navbar-style-one>

<section class="sign-in-area ptb-100">
    <div class="container">
        <div class="contact-wrap-form sign-in-width">
            <div class="scetion-title text-center">
                <span>Sign In</span>
                <h2>Sign In to your account</h2>
                <p>with your social</p>
                <ul class="sign-social-icon mt-4">
                    <li>
                        <a
                            routerLink="/sign-in"
                            class="bg-primary"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{
                                exact: true
                            }"
                            ><i class="bx bxl-facebook"></i
                        ></a>
                    </li>
                    <li>
                        <a
                            routerLink="/sign-in"
                            class="bg-danger"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{
                                exact: true
                            }"
                            ><i class="bx bxl-google"></i
                        ></a>
                    </li>
                </ul>
            </div>

            <p class="horizontal-separator my-5 border-bottom">
                <span>or email</span>
            </p>

            <!-- sign-in form start -->
            <form
                name="form"
                (ngSubmit)="signinForm.valid && validateUser(signinForm)"
                #signinForm="ngForm"
            >
                <div class="row">
                    <div class="col-12">
                        <!-- email input start -->
                        <div class="form-group">
                            <input
                                class="form-control"
                                type="email"
                                name="email"
                                placeholder="Email"
                                required
                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                [(ngModel)]="user.email"
                                #email="ngModel"
                            />

                            <!-- email input validation start -->
                            <span
                                class="text-danger"
                                *ngIf="(email.touched || signinForm.submitted) &&
                          email.errors?.['required']"
                                >Error : Email is required !</span
                            >
                            <span
                                class="text-danger"
                                *ngIf="(email.touched || signinForm.submitted) &&
                          email.errors?.['pattern']"
                                >Error : Please provide a valid email address
                                !</span
                            >
                            <!-- email input validation end -->
                        </div>
                        <!-- email input end -->
                    </div>

                    <div class="col-12">
                        <!-- password input start -->
                        <div class="form-group">
                            <div class="input-group">
                                <input
                                    class="form-control"
                                    [type]="true ? 'text' : 'password'"
                                    name="password"
                                    placeholder="Password"
                                    required
                                    minlength="6"
                                    maxlength="40"
                                    [(ngModel)]="user.password"
                                    #password="ngModel"
                                />

                                <!-- password show/hide toggle start -->

                                <!-- password show/hide toggle end -->

                                <!-- password input validation start -->
                                <span
                                    class="text-danger"
                                    *ngIf="(password.touched || signinForm.submitted) &&
                              password.errors?.['required']"
                                    >Error : Password is required !</span
                                >
                                <span
                                    class="text-danger"
                                    *ngIf="(password.touched || signinForm.submitted) &&
                              password.errors?.['minlength']"
                                    >Error : Password must be at least 6
                                    characters long. !</span
                                >
                                <!-- password input validation end -->
                            </div>
                        </div>
                        <!-- password input end -->
                    </div>

                    <div class="col-lg-6 col-sm-6 form-condition">
                        <!-- remember me checkbox input start -->
                        <div class="agree-label">
                            <input
                                type="checkbox"
                                id="chb1"
                                name="rememberMe"
                            />
                            <label for="chb1">Remember Me</label>
                        </div>
                        <!-- remember me checkbox input end -->
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <a class="forget" routerLink="/recover-password"
                            >Forgot my password?</a
                        >
                    </div>

                    <div class="eula-notice mb-4">
                        <p class="small text-start">
                            By signing in, you have read and agree to our
                            <a
                                class="text-decoration-underline"
                                routerLink="/terms-condition"
                                >Shirt Moxy Terms and Conditions</a
                            >. For more details on how we use the information we
                            collect about you, please read our
                            <a
                                routerLink="/privacy-policy"
                                class="text-decoration-underline"
                                >Shirt Moxy Privacy and Cookie Policy.</a
                            >
                        </p>
                    </div>

                    <div class="col-12 text-center">
                        <button
                            class="default-btn btn-two sign-btn"
                            type="submit"
                        >
                            Sign In Now
                        </button>
                    </div>

                    <div class="col-12">
                        <p class="account-desc">
                            Not a member? <a routerLink="/sign-up">Register</a>
                        </p>
                    </div>
                </div>
            </form>
            <!-- sign-in form end -->
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
