<app-navbar-style-one></app-navbar-style-one>

<section class="sign-up-area ptb-100">
    <div class="container">
        <div class="contact-wrap-form sign-in-width">
            <div class="scetion-title text-center">
                <span>Reset Password</span>
                <h2>Reset Your Password!</h2>
                <p class="recover-text">
                    Enter the email of your account to reset the password. Then
                    you will receive a link to email to reset the password. If
                    you have any issue about reset password
                    <a routerLink="/contact">contact us.</a>
                </p>
            </div>

            <!-- recover password form start -->
            <form
                name="form"
                #f="ngForm"
                (ngSubmit)="f.form.valid && onSubmit()"
            >
                <div class="row">
                    <div class="col-12">
                        <!-- email input start -->
                        <div class="form-group">
                            <input
                                class="form-control"
                                type="email"
                                name="email"
                                placeholder="Enter Your Email"
                                [(ngModel)]="form.email"
                                required
                                email
                                #email="ngModel"
                                [ngClass]="{
                                    'is-invalid': f.submitted && email.errors
                                }"
                            />
                            
                            <!-- email input validation start -->
                            <div
                                *ngIf="f.submitted && email.errors"
                                class="invalid-feedback"
                            >
                                <div *ngIf="email.errors['required']">
                                    Email is required
                                </div>
                                <div *ngIf="email.errors['email']">
                                    Email is invalid
                                </div>
                            </div>
                            <!-- email input validation end -->
                        </div>
                        <!-- email input end -->
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a class="recover-login" routerLink="/sign-in"
                            >Sign In in your account</a
                        >
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="recover-register">
                            Not a member? <a routerLink="/sign-in">Register</a>
                        </p>
                    </div>

                    <div class="col-12 text-center">
                        <button class="default-btn btn-two" type="submit">
                            Reset Password
                        </button>
                    </div>
                </div>
            </form>
            <!-- recover password form end -->
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
