<app-navbar-style-one></app-navbar-style-one>

<section class="product-detls ptb-100">
    <div class="container">
        <!-- page breadcrumbs start -->
        <div class="page-breadcrumbs">
            <ul>
                <li class="align-middle"><a routerLink="/home">Home</a></li>
                <li><i class="bx bxs-chevrons-right align-middle"></i></li>
                <li class="align-middle">
                    <a routerLink="/product/clothing/all">All Products</a>
                </li>
                <li><i class="bx bxs-chevrons-right align-middle"></i></li>
                <li class="align-middle">
                    {{ p?.manufacturer.name | titlecase }} -
                    {{ p?.name | titlecase }}
                </li>
            </ul>
        </div>
        <!-- page breadcrumbs end -->

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="product-detls-image">
                    <img
                        [src]="p?.productMediaSet[0].url"
                        alt="Products Image"
                    />
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="product-desc">
                    <div class="product-review">
                        <div class="rating">
                            <i class="bx bxs-star align-middle"></i>
                            <i class="bx bxs-star align-middle"></i>
                            <i class="bx bxs-star align-middle"></i>
                            <i class="bx bxs-star align-middle"></i>
                            <i class="bx bxs-star-half align-middle"></i>
                        </div>
                        <a
                            routerLink="/product-details"
                            class="rating-count align-middle"
                            >3 Reviews</a
                        >
                    </div>

                    <h3 class="mb-0">
                        {{ p?.manufacturer.name | titlecase }} -
                        {{ p?.name | titlecase }}
                    </h3>

                    <!-- quantity pricing container start -->

                    <div
                        class="product-quantity-pricing-container d-flex flex-nowrap flex-column mb-3"
                    >
                        <div class="price mb-0">
                            <span class="original-price">{{
                                p?.unitPrice | currency
                            }}</span>
                            <!-- <span> - </span>
                                <span class="highest-price">{{
                                    p?.unitPrice | currency
                                }}</span> -->
                            <span class="per-unit-text"> / each </span>
                        </div>

                        <div class="input-count-area">
                            <div class="input-counter">
                                <span
                                    class="minus-btn"
                                    (click)="decrementQuantity()"
                                >
                                    <i class="bx bx-minus"></i>
                                </span>

                                <input
                                    type="text"
                                    minlength="1"
                                    maxlength="3"
                                    appNumericInputOnly
                                    [(ngModel)]="quantity"
                                    [ngModelOptions]="{
                                        standalone: true
                                    }"
                                />

                                <span
                                    class="plus-btn"
                                    (click)="incrementQuantity()"
                                >
                                    <i class="bx bx-plus"></i>
                                </span>
                            </div>

                            <p class="text-dark small">
                                Buy more, save more.
                                <span class="current-quantity">{{
                                    quantity
                                }}</span>
                                starting at
                                <span
                                    class="original-price text-decoration-line-through"
                                    >{{
                                        quantity * p?.unitPrice
                                            | currency : "USD"
                                    }}</span
                                >

                                <span class="discounted-price fw-bold">
                                    {{
                                        quantity * p?.unitPrice * (1 - 0.15)
                                            | currency : "USD"
                                    }}</span
                                >
                            </p>
                        </div>
                    </div>
                    <!-- quantity pricing container end -->

                    <p class="text-dark product-shorter-details">
                        {{ p?.description }}
                    </p>

                    <button
                        type="button"
                        class="btn btn-link text-dark m-0 p-0 border-0"
                        (click)="scrollTo(productLongerDetails)"
                    >
                        Read more
                    </button>

                    <div class="product-content available-colors my-3">
                        <div class="color-name text-dark small">
                            <span class="fw-bold">Color: </span>
                            <span>{{ p?.color.name | titlecase }}</span>
                        </div>

                        <!-- available colors start -->
                        <div class="product-color-icons d-flex flex-wrap">
                            <div *ngFor="let color of productColors">
                                <div
                                    [attr.id]="color.name"
                                    [class.active-color-18]="
                                        color.name === activeColorName
                                    "
                                    (click)="
                                        handleChangeProductColorAndReloadDetails(
                                            color.id
                                        )
                                    "
                                    class="round r18 my-2 ms-0 me-2"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    [attr.title]="color.name"
                                    [style.background-color]="
                                        'rgb(' +
                                        color.red +
                                        ',' +
                                        color.green +
                                        ',' +
                                        color.blue +
                                        ')'
                                    "
                                ></div>
                            </div>
                        </div>
                        <!-- available colors end -->
                    </div>

                    <div class="product-content available-sizes my-3">
                        <div class="color-name text-dark small">
                            <span class="fw-bold">Sizes: </span>
                        </div>

                        <div class="product-size-icons d-flex flex-wrap">
                            <p class="small text-success me-2">In stock:</p>
                            <span class="small text-dark">{{
                                inStockSizes | join : "type"
                            }}</span>
                        </div>
                        <div class="product-size-icons d-flex flex-wrap">
                            <p class="small text-danger me-2">Out of stock:</p>
                            <span class="small text-dark">{{
                                outOfStockSizes | join : "type"
                            }}</span>
                        </div>
                    </div>

                    <div class="slider-btn">
                        <a routerLink="/sign-up" class="smoxy-btn"
                            ><i class="bx bx-pencil align-middle"></i> Start
                            Designing</a
                        >
                    </div>

                    <div class="product-add">
                         <button class="default-btn m-1">
                            <i class="bx bx-pencil align-middle"></i> Start
                            Designing
                        </button>

                        <button class="default-btn m-1">Browse Designs</button> 

                        <button (click)="addToCart(p)" class="default-btn m-1">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="tab product-detls-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <ul class="tabs">
                                <li>
                                    <a href="#">Description</a>
                                </li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Size Chart</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Reviews</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="tab_content current active">
                                <div class="tabs_item current">
                                    <div
                                        class="product-detls-tab-content"
                                        #productLongerDetails
                                    >
                                        <p class="product-longer-details">
                                            {{ p?.description }}
                                        </p>
                                        <ul class="additional-information">
                                            <li>
                                                <span>SKU:</span
                                                >{{ p?.sku | uppercase }}
                                            </li>
                                            <li>
                                                <span>Brand:</span
                                                >{{
                                                    p?.manufacturer.name
                                                        | titlecase
                                                }}
                                            </li>
                                            <li>
                                                <span>Name:</span
                                                >{{ p?.name | titlecase }}
                                            </li>
                                            <li>
                                                <span>Type:</span
                                                >{{
                                                    p?.productType.name
                                                        | titlecase
                                                }}
                                            </li>
                                            <li>
                                                <span>Barcode:</span
                                                >{{
                                                    p?.barcode.type | uppercase
                                                }}
                                            </li>
                                            <li>
                                                <span>Category:</span
                                                >{{
                                                    p?.category.name | titlecase
                                                }}
                                            </li>

                                            <li>
                                                <span>Weight:</span
                                                >{{ p?.weight }} oz
                                            </li>
                                            <li>
                                                <span>Color:</span
                                                >{{ p?.color.name | titlecase }}
                                            </li>
                                            <li>
                                                <span>Sizes:</span
                                                >{{
                                                    productSizes | join : "type"
                                                }}
                                            </li>
                                            <li>
                                                <span>Gender:</span
                                                >{{
                                                    p?.gender.type | titlecase
                                                }}
                                            </li>
                                            <li>
                                                <span>Material:</span
                                                >{{
                                                    p?.material.type | titlecase
                                                }}
                                            </li>
                                        </ul>
                                        <div
                                            class="product-content available-social-media my-3"
                                        >
                                            <div class="social-icons text-dark">
                                                <span class="fw-bold"
                                                    >Share:
                                                </span>
                                            </div>

                                            <div
                                                class="product-color-icons d-flex flex-wrap"
                                            >
                                                <span
                                                    class="badge text-bg-light me-3"
                                                    ><a
                                                        href="#"
                                                        target="_blank"
                                                        class="facebook-ico text-secondary"
                                                        ><i
                                                            class="bx bx-sm bxl-facebook"
                                                        ></i></a
                                                ></span>
                                                <span
                                                    class="badge text-bg-light me-3"
                                                    ><a
                                                        href="#"
                                                        target="_blank"
                                                        class="tiktok-ico text-secondary"
                                                        ><i
                                                            class="bx bx-sm bxl-tiktok"
                                                        ></i></a
                                                ></span>

                                                <span
                                                    class="badge text-bg-light me-3"
                                                    ><a
                                                        href="#"
                                                        target="_blank"
                                                        class="twitter-ico text-secondary"
                                                        ><i
                                                            class="bx bx-sm bxl-twitter"
                                                        ></i></a
                                                ></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- pricing tab start -->
                                <div class="tabs_item">
                                    <div class="product-detls-tab-content">
                                        <h2>Pricing Summary</h2>
                                        <p>
                                            With every unit you add, savings
                                            increase.
                                        </p>
                                        <table class="table text-center">
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        Quantity
                                                    </th>
                                                    <th scope="col">
                                                        Unit Price
                                                    </th>
                                                    <th scope="col">
                                                        Savings on min. quantity
                                                        price
                                                    </th>
                                                    <th scope="col">
                                                        Total Price
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row">
                                                        1 (min. quantity)
                                                    </td>
                                                    <td>$22.09</td>
                                                    <td>0%</td>
                                                    <td>$22.09</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">5</td>
                                                    <td>$21.15</td>
                                                    <td class="text-success">
                                                        4%
                                                    </td>
                                                    <td>$105.75</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">22</td>
                                                    <td>$17.62</td>
                                                    <td class="text-success">
                                                        20%
                                                    </td>
                                                    <td>$387.72</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">106</td>
                                                    <td>$14.01</td>
                                                    <td class="text-success">
                                                        37%
                                                    </td>
                                                    <td>$1,484.69</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">
                                                        501
                                                        <span
                                                            class="text-success"
                                                            >(lowest
                                                            price)</span
                                                        >
                                                    </td>
                                                    <td>$13.26</td>
                                                    <td class="text-success">
                                                        40%
                                                    </td>
                                                    <td>$6,643.26</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- pricing tab end -->

                                <!-- size chart start -->
                                <div class="tabs_item">
                                    <div class="product-detls-tab-content">
                                        <h2>Size Chart</h2>
                                        <img
                                            class="mb-3"
                                            src="assets/img/size-chart/clothing/tshirt/tshirt-size-chart.jpg"
                                            alt="Products Size Chart"
                                        />

                                        <p>Lorem ipsum dolor amet.</p>
                                        <table class="table text-center">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Size</th>
                                                    <th scope="col">
                                                        Length (A) in
                                                    </th>
                                                    <th scope="col">
                                                        Width (B) in
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="
                                                        let size of productSizes
                                                    "
                                                >
                                                    <th scope="row">
                                                        {{
                                                            size.type
                                                                | uppercase
                                                        }}
                                                    </th>
                                                    <td>24.4</td>
                                                    <td>16.5</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- size end -->

                                <!-- faq start -->
                                <div class="tabs_item">
                                    <div class="product-detls-tab-content">
                                        <h2>Frequently Asked Questions</h2>
                                        <p>
                                            Find a list of questions and answers
                                            relating to this particular product.
                                        </p>
                                        <div
                                            class="accordion"
                                            id="accordionExample"
                                        >
                                            <div class="accordion-item">
                                                <h2
                                                    class="accordion-header"
                                                    id="headingOne"
                                                >
                                                    <button
                                                        class="accordion-button"
                                                        type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseOne"
                                                        aria-expanded="true"
                                                        aria-controls="collapseOne"
                                                    >
                                                        Accordion Item #1
                                                    </button>
                                                </h2>
                                                <div
                                                    id="collapseOne"
                                                    class="accordion-collapse collapse show"
                                                    aria-labelledby="headingOne"
                                                    data-bs-parent="#accordionExample"
                                                >
                                                    <div class="accordion-body">
                                                        Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipiscing elit, sed do
                                                        eiusmod tempor
                                                        incididunt ut labore et
                                                        dolore magna aliqua.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- faq end -->

                                <div class="tabs_item">
                                    <div class="product-detls-tab-content">
                                        <div class="product-review-form">
                                            <h3>Customer Reviews</h3>

                                            <div class="review-title">
                                                <div class="rating">
                                                    <i class="bx bxs-star"></i>
                                                    <i class="bx bxs-star"></i>
                                                    <i class="bx bxs-star"></i>
                                                    <i class="bx bxs-star"></i>
                                                    <i
                                                        class="bx bxs-star-half"
                                                    ></i>
                                                </div>
                                                <p>Based on 3 reviews</p>
                                                <a
                                                    routerLink="/product-details"
                                                    class="default-btn btn-right"
                                                    >Write a Review <span></span
                                                ></a>
                                            </div>

                                            <div class="review-comments">
                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star-half"
                                                        ></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span
                                                        ><strong>Admin</strong>
                                                        on
                                                        <strong
                                                            >June 21,
                                                            2020</strong
                                                        ></span
                                                    >
                                                    <p>
                                                        Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipiscing elit, sed do
                                                        eiusmod tempor
                                                        incididunt ut labore et
                                                        dolore magna aliqua. Ut
                                                        enim ad minim veniam,
                                                        quis nostrud
                                                        exercitation.
                                                    </p>
                                                    <a
                                                        routerLink="/product-details"
                                                        class="review-report-link"
                                                        >Report as
                                                        Inappropriate</a
                                                    >
                                                </div>

                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star-half"
                                                        ></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span
                                                        ><strong>Admin</strong>
                                                        on
                                                        <strong
                                                            >June 21,
                                                            2020</strong
                                                        ></span
                                                    >
                                                    <p>
                                                        Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipiscing elit, sed do
                                                        eiusmod tempor
                                                        incididunt ut labore et
                                                        dolore magna aliqua. Ut
                                                        enim ad minim veniam,
                                                        quis nostrud
                                                        exercitation.
                                                    </p>
                                                    <a
                                                        routerLink="/product-details"
                                                        class="review-report-link"
                                                        >Report as
                                                        Inappropriate</a
                                                    >
                                                </div>

                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star-half"
                                                        ></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span
                                                        ><strong>Admin</strong>
                                                        on
                                                        <strong
                                                            >June 21,
                                                            2020</strong
                                                        ></span
                                                    >
                                                    <p>
                                                        Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipiscing elit, sed do
                                                        eiusmod tempor
                                                        incididunt ut labore et
                                                        dolore magna aliqua. Ut
                                                        enim ad minim veniam,
                                                        quis nostrud
                                                        exercitation.
                                                    </p>
                                                    <a
                                                        routerLink="/product-details"
                                                        class="review-report-link"
                                                        >Report as
                                                        Inappropriate</a
                                                    >
                                                </div>
                                            </div>

                                            <div class="review-form">
                                                <h3>Write a Review</h3>

                                                <div class="contact-wrap-form">
                                                    <form>
                                                        <div class="row">
                                                            <div
                                                                class="col-lg-6 col-sm-6"
                                                            >
                                                                <div
                                                                    class="form-group"
                                                                >
                                                                    <input
                                                                        type="text"
                                                                        name="name"
                                                                        id="name"
                                                                        class="form-control"
                                                                        required
                                                                        data-error="Please enter your name"
                                                                        placeholder="Your Name"
                                                                    />
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="col-lg-6 col-sm-6"
                                                            >
                                                                <div
                                                                    class="form-group"
                                                                >
                                                                    <input
                                                                        type="email"
                                                                        name="email"
                                                                        id="email"
                                                                        class="form-control"
                                                                        required
                                                                        data-error="Please enter your email"
                                                                        placeholder="Your Email"
                                                                    />
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="col-lg-12 col-sm-12"
                                                            >
                                                                <div
                                                                    class="form-group"
                                                                >
                                                                    <input
                                                                        type="text"
                                                                        name="msg_subject"
                                                                        id="msg_subject"
                                                                        class="form-control"
                                                                        required
                                                                        data-error="Please enter your subject"
                                                                        placeholder="Your Subject"
                                                                    />
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="col-lg-12 col-md-12"
                                                            >
                                                                <div
                                                                    class="form-group"
                                                                >
                                                                    <textarea
                                                                        name="message"
                                                                        class="form-control"
                                                                        id="message"
                                                                        cols="30"
                                                                        rows="8"
                                                                        required
                                                                        data-error="Write your message"
                                                                        placeholder="Your Message"
                                                                    ></textarea>
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="col-lg-12 col-md-12"
                                                            >
                                                                <button
                                                                    type="submit"
                                                                    class="default-btn page-btn"
                                                                >
                                                                    Submit
                                                                    Review
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
