<app-navbar-style-one></app-navbar-style-one>

<section class="product-detls ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="product-detls-image">
                    <img src="assets/img/products/pro-dtls.jpg" alt="Image" />
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="product-desc">
                    <h3>The Shirt of Doom</h3>

                    <div class="price">
                        <span class="new-price">$120.00</span>
                        <span class="old-price">$210.00</span>
                    </div>

                    <div class="product-review">
                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <a routerLink="/product-details" class="rating-count"
                            >3 reviews</a
                        >
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et. Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et.
                    </p>

                    <div class="input-count-area">
                        <h3>Quantity</h3>

                        <div class="input-counter">
                            <span class="minus-btn"
                                ><i class="bx bx-minus"></i
                            ></span>
                            <input type="text" min="1" value="1" />
                            <span class="plus-btn"
                                ><i class="bx bx-plus"></i
                            ></span>
                        </div>
                    </div>

                    <div class="product-add">
                        <button type="submit" class="default-btn m-1">
                            <i class="bx bx-pencil align-middle"></i> Start
                            Designing
                        </button>

                        <button type="submit" class="default-btn m-1">
                            Browse Designs
                        </button>
                    </div>

                    <div class="product-share">
                        <ul>
                            <li><span>Share:</span></li>
                            <li>
                                <a href="#" target="_blank" class="facebook-ico"
                                    ><i class="bx bxl-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="tiktok-ico"
                                    ><i class="bx bxl-tiktok"></i
                                ></a>
                            </li>
                            <li>
                                <a
                                    href="#"
                                    target="_blank"
                                    class="instagram-ico"
                                    ><i class="bx bxl-instagram"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="twitter-ico"
                                    ><i class="bx bxl-twitter"></i
                                ></a>
                            </li>
                            <!-- TODO - change to printerest -->
                            <li>
                                <a
                                    href="#"
                                    target="_blank"
                                    class="printerest-ico"
                                    ><i class="bx bxs-cube"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="tab product-detls-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <ul class="tabs">
                                <li><a href="#">Description</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Size Chart</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Reviews</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="tab_content current active">
                                <div class="tabs_item current">
                                    <div class="product-detls-tab-content">
                                        <p>
                                            Design inspiration lorem ipsum dolor
                                            sit amet, consectetuer adipiscing
                                            elit. Morbi commodo, ipsum sed
                                            pharetra gravida, orci magna rhoncus
                                            neque, id pulvinar odio lorem non
                                            turpis. Nullam sit amet enim.
                                            Suspendisse id velit vitae ligula
                                            volutpat condimentum. Aliquam erat
                                            volutpat. Sed quis velit. Nulla
                                            facilisi. Nulla libero. Vivamus
                                            pharetra posuere sapien. Nam
                                            consectetuer. Sed aliquam, nunc eget
                                            euismod ullamcorper, lectus nunc
                                            ullamcorper orci, fermentum bibendum
                                            enim nibh eget ipsum. Nam
                                            consectetuer. Sed aliquam, nunc eget
                                            euismod ullamcorper, lectus nunc
                                            ullamcorper orci, fermentum bibendum
                                            enim nibh eget ipsum. Nulla libero.
                                            Vivamus pharetra posuere sapien.
                                        </p>
                                        <ul class="additional-information">
                                            <li><span>SKU:</span>12</li>
                                            <li>
                                                <span>Category:</span>Business
                                            </li>
                                            <li>
                                                <span>Size:</span> Large, Medium
                                            </li>
                                            <li><span>Tag:</span>Book Cover</li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- pricing tab start -->
                                <div class="tabs_item">
                                    <div class="product-detls-tab-content">
                                        <h2>Pricing Summary</h2>
                                        <p>
                                            With every unit you add, savings
                                            increase.
                                        </p>
                                        <table class="table text-center">
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        Quantity
                                                    </th>
                                                    <th scope="col">
                                                        Unit Price
                                                    </th>
                                                    <th scope="col">
                                                        Savings on min. quantity
                                                        price
                                                    </th>
                                                    <th scope="col">
                                                        Total Price
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row">
                                                        1 (min. quantity)
                                                    </td>
                                                    <td>$22.09</td>
                                                    <td>0%</td>
                                                    <td>$22.09</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">5</td>
                                                    <td>$21.15</td>
                                                    <td class="text-success">
                                                        4%
                                                    </td>
                                                    <td>$105.75</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">22</td>
                                                    <td>$17.62</td>
                                                    <td class="text-success">
                                                        20%
                                                    </td>
                                                    <td>$387.72</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">106</td>
                                                    <td>$14.01</td>
                                                    <td class="text-success">
                                                        37%
                                                    </td>
                                                    <td>$1,484.69</td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">
                                                        501
                                                        <span
                                                            class="text-success"
                                                            >(lowest
                                                            price)</span
                                                        >
                                                    </td>
                                                    <td>$13.26</td>
                                                    <td class="text-success">
                                                        40%
                                                    </td>
                                                    <td>$6,643.26</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- pricing tab end -->

                                <!-- size chart start -->
                                <div class="tabs_item">
                                    <div class="product-detls-tab-content">
                                        <h2>Size Chart</h2>
                                        <p>Lorem ipsum dolor amet.</p>
                                        <table class="table text-center">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Size</th>
                                                    <th scope="col">
                                                        Length (A) in
                                                    </th>
                                                    <th scope="col">
                                                        Width (B) in
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">XS</th>
                                                    <td>24.4</td>
                                                    <td>16.5</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">S</th>
                                                    <td>25.6</td>
                                                    <td>17.7</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">M</th>
                                                    <td>26.4</td>
                                                    <td>18.1</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">L</th>
                                                    <td>27.2</td>
                                                    <td>19.3</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">XL</th>
                                                    <td>28.3</td>
                                                    <td>23.2</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2XL</th>
                                                    <td>29.1</td>
                                                    <td>27.2</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3XL</th>
                                                    <td>29.5</td>
                                                    <td>28</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- size end -->

                                <!-- faq start -->
                                <div class="tabs_item">
                                    <div class="product-detls-tab-content">
                                        <h2>Frequently Asked Questions</h2>
                                        <p>
                                            Find a list of questions and answers
                                            relating to this particular product.
                                        </p>
                                        <div
                                            class="accordion"
                                            id="accordionExample"
                                        >
                                            <div class="accordion-item">
                                                <h2
                                                    class="accordion-header"
                                                    id="headingOne"
                                                >
                                                    <button
                                                        class="accordion-button"
                                                        type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseOne"
                                                        aria-expanded="true"
                                                        aria-controls="collapseOne"
                                                    >
                                                        Accordion Item #1
                                                    </button>
                                                </h2>
                                                <div
                                                    id="collapseOne"
                                                    class="accordion-collapse collapse show"
                                                    aria-labelledby="headingOne"
                                                    data-bs-parent="#accordionExample"
                                                >
                                                    <div class="accordion-body">
                                                        Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipiscing elit, sed do
                                                        eiusmod tempor
                                                        incididunt ut labore et
                                                        dolore magna aliqua.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- faq end -->

                                <div class="tabs_item">
                                    <div class="product-detls-tab-content">
                                        <div class="product-review-form">
                                            <h3>Customer Reviews</h3>

                                            <div class="review-title">
                                                <div class="rating">
                                                    <i class="bx bxs-star"></i>
                                                    <i class="bx bxs-star"></i>
                                                    <i class="bx bxs-star"></i>
                                                    <i class="bx bxs-star"></i>
                                                    <i
                                                        class="bx bxs-star-half"
                                                    ></i>
                                                </div>
                                                <p>Based on 3 reviews</p>
                                                <a
                                                    routerLink="/product-details"
                                                    class="default-btn btn-right"
                                                    >Write a Review <span></span
                                                ></a>
                                            </div>

                                            <div class="review-comments">
                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star-half"
                                                        ></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span
                                                        ><strong>Admin</strong>
                                                        on
                                                        <strong
                                                            >June 21,
                                                            2020</strong
                                                        ></span
                                                    >
                                                    <p>
                                                        Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipiscing elit, sed do
                                                        eiusmod tempor
                                                        incididunt ut labore et
                                                        dolore magna aliqua. Ut
                                                        enim ad minim veniam,
                                                        quis nostrud
                                                        exercitation.
                                                    </p>
                                                    <a
                                                        routerLink="/product-details"
                                                        class="review-report-link"
                                                        >Report as
                                                        Inappropriate</a
                                                    >
                                                </div>

                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star-half"
                                                        ></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span
                                                        ><strong>Admin</strong>
                                                        on
                                                        <strong
                                                            >June 21,
                                                            2020</strong
                                                        ></span
                                                    >
                                                    <p>
                                                        Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipiscing elit, sed do
                                                        eiusmod tempor
                                                        incididunt ut labore et
                                                        dolore magna aliqua. Ut
                                                        enim ad minim veniam,
                                                        quis nostrud
                                                        exercitation.
                                                    </p>
                                                    <a
                                                        routerLink="/product-details"
                                                        class="review-report-link"
                                                        >Report as
                                                        Inappropriate</a
                                                    >
                                                </div>

                                                <div class="review-item">
                                                    <div class="rating">
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star"
                                                        ></i>
                                                        <i
                                                            class="bx bxs-star-half"
                                                        ></i>
                                                    </div>
                                                    <h3>Good</h3>
                                                    <span
                                                        ><strong>Admin</strong>
                                                        on
                                                        <strong
                                                            >June 21,
                                                            2020</strong
                                                        ></span
                                                    >
                                                    <p>
                                                        Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipiscing elit, sed do
                                                        eiusmod tempor
                                                        incididunt ut labore et
                                                        dolore magna aliqua. Ut
                                                        enim ad minim veniam,
                                                        quis nostrud
                                                        exercitation.
                                                    </p>
                                                    <a
                                                        routerLink="/product-details"
                                                        class="review-report-link"
                                                        >Report as
                                                        Inappropriate</a
                                                    >
                                                </div>
                                            </div>

                                            <div class="review-form">
                                                <h3>Write a Review</h3>

                                                <div class="contact-wrap-form">
                                                    <form>
                                                        <div class="row">
                                                            <div
                                                                class="col-lg-6 col-sm-6"
                                                            >
                                                                <div
                                                                    class="form-group"
                                                                >
                                                                    <input
                                                                        type="text"
                                                                        name="name"
                                                                        id="name"
                                                                        class="form-control"
                                                                        required
                                                                        data-error="Please enter your name"
                                                                        placeholder="Your Name"
                                                                    />
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="col-lg-6 col-sm-6"
                                                            >
                                                                <div
                                                                    class="form-group"
                                                                >
                                                                    <input
                                                                        type="email"
                                                                        name="email"
                                                                        id="email"
                                                                        class="form-control"
                                                                        required
                                                                        data-error="Please enter your email"
                                                                        placeholder="Your Email"
                                                                    />
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="col-lg-12 col-sm-12"
                                                            >
                                                                <div
                                                                    class="form-group"
                                                                >
                                                                    <input
                                                                        type="text"
                                                                        name="msg_subject"
                                                                        id="msg_subject"
                                                                        class="form-control"
                                                                        required
                                                                        data-error="Please enter your subject"
                                                                        placeholder="Your Subject"
                                                                    />
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="col-lg-12 col-md-12"
                                                            >
                                                                <div
                                                                    class="form-group"
                                                                >
                                                                    <textarea
                                                                        name="message"
                                                                        class="form-control"
                                                                        id="message"
                                                                        cols="30"
                                                                        rows="8"
                                                                        required
                                                                        data-error="Write your message"
                                                                        placeholder="Your Message"
                                                                    ></textarea>
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="col-lg-12 col-md-12"
                                                            >
                                                                <button
                                                                    type="submit"
                                                                    class="default-btn page-btn"
                                                                >
                                                                    Submit
                                                                    Review
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
