<app-navbar-style-one></app-navbar-style-one>

<section class="cart-wraps-area ptb-100">
    <div class="container">
        <form>
            <div class="row">
                <div
                    class="col-sm-12 cart-wraps"
                    [ngClass]="cartItems.length == 0 ? 'col-md-12' : 'col-md-8'"
                >
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>

                            <!-- cart is empty start -->
                            <ng-container *ngIf="cartItems.length == 0">
                                <tbody>
                                    <tr>
                                        <td colspan="5">
                                            <p class="text-start my-2">
                                                Your cart is empty
                                                <a
                                                    class="text-decoration-underline"
                                                    routerLink="/product/clothing/all"
                                                    >Start Shopping</a
                                                >
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-container>
                            <!-- cart is empty end -->

                            <!-- cart product items start -->
                            <ng-container *ngIf="cartItems.length > 0">
                                <tbody>
                                    <tr *ngFor="let item of cartItems">
                                        <td class="product-thumbnail">
                                            <a
                                                routerLink="/product-details/{{
                                                    item.id
                                                }}"
                                                ><img
                                                    [attr.src]="item.imageUrl"
                                                    alt="Image"
                                            /></a>
                                        </td>

                                        <td class="product-name">
                                            <a
                                                routerLink="/product-details/{{
                                                    item.id
                                                }}"
                                                >{{ item.manufacturer }} -
                                                {{ item.name }}
                                            </a>
                                        </td>

                                        <td class="product-price">
                                            <span class="unit-amount">{{
                                                item.unitPrice
                                                    | currency : "USD"
                                            }}</span>
                                        </td>

                                        <td class="product-quantity">
                                            <div class="input-counter">
                                                <span
                                                    class="minus-btn"
                                                    (click)="
                                                        decrementQuantity(item)
                                                    "
                                                >
                                                    <i class="bx bx-minus"></i>
                                                </span>

                                                <input
                                                    type="text"
                                                    minlength="1"
                                                    maxlength="3"
                                                    appNumericInputOnly
                                                    [(ngModel)]="item.quantity"
                                                    [ngModelOptions]="{
                                                        standalone: true
                                                    }"
                                                    (ngModelChange)="
                                                        updateQuantity(
                                                            item,
                                                            item.quantity
                                                        )
                                                    "
                                                />

                                                <span
                                                    class="plus-btn"
                                                    (click)="
                                                        incrementQuantity(item)
                                                    "
                                                >
                                                    <i class="bx bx-plus"></i>
                                                </span>
                                            </div>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="subtotal-amount">{{
                                                item.quantity * item.unitPrice
                                                    | currency : "USD"
                                            }}</span>

                                            <span
                                                class="remove"
                                                (click)="remove(item)"
                                            >
                                                <i class="bx bx-trash"></i>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-container>
                            <!-- cart product items end -->
                        </table>
                    </div>

                    <div
                        class="cart-buttons d-flex justify-content-between flex-wrap"
                    >
                        <div class="update-qty-box">
                            <i
                                class="bx bx-cart bx-sm align-bottom text-dark"
                            ></i>
                            <h6 class="align-middle d-inline">
                                Your shopping cart ({{ totalQuantity }}
                                items)
                            </h6>
                        </div>
                        <div
                            class="update-qty-box"
                            [hidden]="cartItems.length == 0"
                        >
                            <a (click)="removeAll()" class="default-btn small"
                                >Clear Cart</a
                            >
                        </div>
                    </div>
                </div>

                <aside
                    class="col-sm-12 col-md-4"
                    [hidden]="cartItems.length == 0"
                >
                    <!-- cart totals start -->
                    <div class="col-lg-12">
                        <div class="cart-totals mt-0">
                            <h3>Cart Totals</h3>

                            <ul>
                                <li>
                                    Subtotal
                                    <span>{{
                                        totalPrice | currency : "USD"
                                    }}</span>
                                </li>
                                <ng-container *ngIf="isCouponValid">
                                    <li>
                                        Discount
                                        <span>
                                            -
                                            {{
                                                totalDiscount | currency : "USD"
                                            }}</span
                                        >
                                    </li>
                                </ng-container>
                            </ul>

                            <a routerLink="/checkout" class="default-btn w-100"
                                >Checkout</a
                            >
                            <p class="small">
                                You can review your order before it's final or
                                <a
                                    class="text-decoration-underline"
                                    routerLink="/product/clothing/all"
                                    >Continue Shopping</a
                                >
                            </p>
                        </div>
                    </div>
                    <!-- cart totals end -->

                    <!-- coupons start -->
                    <div class="col-lg-12">
                        <div class="cart-calc">
                            <div class="cart-wraps-form">
                                <div
                                    class="d-flex justify-content-between flex-wrap"
                                >
                                    <h3>Promotion</h3>
                                    <button
                                        type="button"
                                        class="btn btn-link btn-sm p-0 m-0"
                                        (click)="toggleHidePromotion()"
                                    >
                                        <p class="hide-btn">Hide</p>
                                    </button>
                                </div>

                                <div class="form-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Enter Coupon"
                                        #coupon
                                    />
                                </div>

                                <a
                                    class="default-btn w-100 small"
                                    (click)="processCoupon(coupon.value)"
                                    >Apply</a
                                >
                            </div>
                        </div>
                    </div>
                    <!-- coupons end -->
                </aside>
            </div>
        </form>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
