<app-navbar-style-one></app-navbar-style-one>
<section class="sign-up-area ptb-100">
    <div class="container">
        <div class="contact-wrap-form manage-account">
            <!-- nav tabs start -->
            <app-profile-navbar></app-profile-navbar>
            <!-- nav tabs end -->

            <div class="py-3 mb-3">
                <p class="fw-bold">Manage Account</p>
            </div>

            <div class="account-data small">
                <p class="text-start fw-bold">Account Data</p>
                <p class="text-start">
                    You can request an archive of your personal information.
                    We'll notify you when it's ready to download.
                    <a
                        routerLink="/"
                        class="fw-bold request-account-archive-link"
                        >Request Archive</a
                    >
                </p>
            </div>

            <div class="delete-account small mt-3">
                <p class="text-start fw-bold">Delete Account</p>
                <p class="text-start">
                    You can request to have your account deleted and personal
                    information removed.
                    <a routerLink="/" class="fw-bold delete-account-link"
                        >Delete Account</a
                    >
                </p>
            </div>
        </div>
    </div>
</section>
