<app-navbar-style-one></app-navbar-style-one>

<section class="product-area pt-100 pb-70">
    <div class="container">
        <div class="contact-wrap-form">
            <!-- nav tabs start -->
            <app-profile-navbar></app-profile-navbar>
            <!-- nav tabs end -->

            <!-- basic info section start -->
            <form
                class="row g-3 p-3"
                name="form"
                #f="ngForm"
                (ngSubmit)="f.form.valid && onSubmit()"
            >
                <!-- basic info start -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputFirstName" class="form-label fw-bold"
                            >First Name <span class="required">*</span></label
                        >
                        <!-- first name input start -->
                        <input
                            type="text"
                            class="form-control"
                            placeholder="First name"
                            aria-label="First name"
                            id="inputFirstName"
                            name="fname"
                            [(ngModel)]="form.fname"
                            required
                            minlength="1"
                            maxlength="43"
                            #fname="ngModel"
                            [ngClass]="{
                                'is-invalid': f.submitted && fname.errors
                            }"
                        />
                        <!-- first name input validation start -->
                        <div
                            *ngIf="f.submitted && fname.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="fname.errors['required']">
                                First name is required
                            </div>
                            <div *ngIf="fname.errors['fname']">
                                First name invalid
                            </div>
                            <div *ngIf="fname.errors['minlength']">
                                First name must be at least 1 character
                            </div>
                            <div *ngIf="fname.errors['maxlength']">
                                First name must not exceed 43 characters
                            </div>
                        </div>
                        <!-- first name input validation end -->
                    </div>
                    <!-- first name input end -->
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputLastName" class="form-label fw-bold"
                            >Last Name <span class="required">*</span></label
                        >
                        <!-- last name input start -->
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Last name"
                            aria-label="Last name"
                            id="inputLastName"
                            name="lname"
                            [(ngModel)]="form.lname"
                            required
                            minlength="1"
                            maxlength="43"
                            #lname="ngModel"
                            [ngClass]="{
                                'is-invalid': f.submitted && lname.errors
                            }"
                        />
                        <!-- last name input validation start -->
                        <div
                            *ngIf="f.submitted && lname.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="lname.errors['required']">
                                Last name is required
                            </div>
                            <div *ngIf="lname.errors['lname']">
                                Last name invalid
                            </div>
                            <div *ngIf="lname.errors['minlength']">
                                Last name must be at least 1 character
                            </div>
                            <div *ngIf="lname.errors['maxlength']">
                                Last name must not exceed 43 characters
                            </div>
                        </div>
                        <!-- last name input validation end -->
                    </div>
                    <!-- last name input end -->
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputCompany" class="form-label fw-bold"
                            >Company</label
                        >
                        <!-- company input start -->
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Company"
                            aria-label="Company"
                            id="inputCompany"
                            name="company"
                            [(ngModel)]="form.company"
                            minlength="1"
                            maxlength="43"
                            #company="ngModel"
                            [ngClass]="{
                                'is-invalid': f.submitted && company.errors
                            }"
                        />
                        <!-- company input validation start -->
                        <div
                            *ngIf="f.submitted && company.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="company.errors['company']">
                                Company invalid
                            </div>
                            <div *ngIf="company.errors['minlength']">
                                Company must be at least 1 character
                            </div>
                            <div *ngIf="company.errors['maxlength']">
                                Company must not exceed 43 characters
                            </div>
                        </div>
                        <!-- company input validation end -->
                    </div>
                    <!-- company input end -->
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputEmail" class="form-label fw-bold"
                            >Email <span class="required">*</span></label
                        >
                        <!-- email input start -->
                        <input
                            type="email"
                            class="form-control"
                            placeholder="Email"
                            aria-label="Email"
                            id="inputEmail"
                            name="email"
                            [(ngModel)]="form.email"
                            required
                            email
                            #email="ngModel"
                            [ngClass]="{
                                'is-invalid': f.submitted && email.errors
                            }"
                        />
                        <!-- email input validation start -->
                        <div
                            *ngIf="f.submitted && email.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="email.errors['required']">
                                Email is required
                            </div>
                            <div *ngIf="email.errors['email']">
                                Email is invalid
                            </div>
                        </div>
                        <!-- email input validation end -->
                    </div>
                    <!-- email input end -->
                </div>

                <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                        <label for="inputCountryCode" class="form-label fw-bold"
                            >Country Code</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="inputCountryCode"
                            name="countryCode"
                            disabled
                            value="+1 (US)"
                        />
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label for="inputPhoneNumber" class="form-label fw-bold"
                            >Phone Number <span class="required">*</span></label
                        >
                        <!-- phone number input start -->
                        <input
                            type="tel"
                            class="form-control"
                            placeholder="(999) 999-9999"
                            [(ngModel)]="form.phoneNumber"
                            aria-label="PhoneNumber"
                            id="inputPhoneNumber"
                            name="phoneNumber"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                            required
                            #phoneNumber="ngModel"
                            [ngClass]="{
                                'is-invalid': f.submitted && phoneNumber.errors
                            }"
                        />
                        <!-- phone number input validation start -->
                        <div
                            *ngIf="f.submitted && phoneNumber.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="phoneNumber.errors['required']">
                                Phone number is required
                            </div>
                            <div *ngIf="phoneNumber.errors['pattern']">
                                Phone number format is invalid (ex:
                                999-999-1234)
                            </div>
                        </div>
                        <!-- phone number input validation end -->
                    </div>
                    <!-- phone number input end -->
                </div>

                <!-- basic info end -->

                <!-- address start -->
                <app-user-address></app-user-address>
                <!-- address end -->

                <div class="col-12 d-flex justify-content-end">
                    <button
                        class="default-btn btn-two sign-btn align-middle"
                        type="submit"
                    >
                        <i class="bx bx-save"></i> Save
                    </button>
                </div>
            </form>
            <!-- basic info section end -->
        </div>

        <!-- payment details section start -->
        <div class="contact-wrap-form my-5">
            <div class="border-bottom py-3 mb-3">
                <p class="text-start fw-bold">Payment Details</p>
            </div>
            <app-user-payment-information></app-user-payment-information>
        </div>
        <!-- payment details section end -->

        <!-- privacy section start -->
        <div class="contact-wrap-form my-5">
            <div class="border-bottom py-3 mb-3">
                <p class="text-start fw-bold">Privacy</p>
            </div>
            <p class="text-start">
                Shirt Moxy protects your privacy and personal information. For
                more details on how we use the information we collect about you,
                please read our
                <a
                    routerLink="/privacy-policy"
                    class="text-decoration-underline"
                    >Shirt Moxy Privacy and Cookie Policy.</a
                >
            </p>
        </div>
        <!-- privacy section end -->
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
