<app-navbar-style-one></app-navbar-style-one>

<div class="contact-area ptb-100">
    <div class="scetion-title text-center">
        <span>Contact Us</span>
        <h2>Drop Your Message</h2>
        <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
        </p>
    </div>

    <div class="container">
        <div class="contact-wrap pt-45">
            <div class="contact-wrap-form">
                <form [formGroup]="contactUsFormGroup" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <!-- first name input start -->
                            <div class="form-group">
                                <label
                                    >First Name
                                    <span class="required">*</span></label
                                >
                                <input
                                    class="form-control"
                                    type="text"
                                    formControlName="firstName"
                                    maxlength="255"
                                />
                                <!-- first name input validation start -->
                                <div
                                    *ngIf="
                                        contactUsFirstName.invalid &&
                                        (contactUsFirstName.dirty ||
                                            contactUsFirstName.touched)
                                    "
                                    class="alert alert-danger mt-1 small"
                                >
                                    <div
                                        *ngIf="
                                            contactUsFirstName.errors
                                                .required ||
                                            contactUsFirstName.errors
                                                .notOnlyWhiteSpace
                                        "
                                    >
                                        First name is required
                                    </div>

                                    <div
                                        *ngIf="
                                            contactUsFirstName.errors.minlength
                                        "
                                    >
                                        First name must be at least 2 characters
                                        long
                                    </div>
                                    <div
                                        *ngIf="
                                            contactUsFirstName.errors.maxlength
                                        "
                                    >
                                        First name must not exceed 255
                                        characters
                                    </div>
                                </div>
                                <!-- first name input validation end -->
                            </div>
                            <!-- first name input end -->
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <!-- last name input start -->
                            <div class="form-group">
                                <label
                                    >Last Name
                                    <span class="required">*</span></label
                                >
                                <input
                                    class="form-control"
                                    type="text"
                                    formControlName="lastName"
                                    maxlength="255"
                                />
                                <!-- last name input validation start -->
                                <div
                                    *ngIf="
                                        contactUsLastName.invalid &&
                                        (contactUsLastName.dirty ||
                                            contactUsLastName.touched)
                                    "
                                    class="alert alert-danger mt-1 small"
                                >
                                    <div
                                        *ngIf="
                                            contactUsLastName.errors.required ||
                                            contactUsLastName.errors
                                                .notOnlyWhiteSpace
                                        "
                                    >
                                        Last name is required
                                    </div>

                                    <div
                                        *ngIf="
                                            contactUsLastName.errors.minlength
                                        "
                                    >
                                        Last name must be at least 2 characters
                                        long
                                    </div>
                                    <div
                                        *ngIf="
                                            contactUsLastName.errors.maxlength
                                        "
                                    >
                                        Last name must not exceed 255 characters
                                    </div>
                                </div>
                                <!-- last name input validation end -->
                            </div>
                            <!-- last name input end -->
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <!-- email input start -->
                            <div class="form-group">
                                <label
                                    >Email
                                    <span class="required">*</span></label
                                >
                                <input
                                    class="form-control"
                                    type="email"
                                    formControlName="email"
                                    maxlength="255"
                                />
                                <!-- email input validation start -->
                                <div
                                    *ngIf="
                                        contactUsEmail.invalid &&
                                        (contactUsEmail.dirty ||
                                            contactUsEmail.touched)
                                    "
                                    class="alert alert-danger mt-1 small"
                                >
                                    <div
                                        *ngIf="
                                            contactUsEmail.errors.required ||
                                            contactUsEmail.errors
                                                .notOnlyWhiteSpace
                                        "
                                    >
                                        Email is required
                                    </div>

                                    <div *ngIf="contactUsEmail.errors.pattern">
                                        Email must be valid
                                    </div>
                                    <div
                                        *ngIf="contactUsEmail.errors.maxlength"
                                    >
                                        Email must not exceed 255 characters
                                    </div>
                                </div>
                                <!-- email input validation end -->
                            </div>
                            <!-- email input end -->
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <!-- phone number input start -->
                            <div class="form-group">
                                <label>Phone </label>
                                <input
                                    type="tel"
                                    class="form-control"
                                    formControlName="phone"
                                    maxlength="15"
                                />
                                <!-- phone number input validation start -->
                                <div
                                    *ngIf="
                                        contactUsPhone.invalid &&
                                        (contactUsPhone.dirty ||
                                            contactUsPhone.touched)
                                    "
                                    class="alert alert-danger mt-1 small"
                                >
                                    <div *ngIf="contactUsPhone.errors.pattern">
                                        Phone must be valid. (ex: 999-999-1234)
                                    </div>
                                    <div
                                        *ngIf="contactUsPhone.errors.maxlength"
                                    >
                                        Phone must not exceed 15 characters
                                    </div>
                                </div>
                                <!-- phone number input validation end -->
                            </div>
                            <!-- phone number input end -->
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <!-- subject input start -->
                            <div class="form-group">
                                <label
                                    >Subject
                                    <span class="required">*</span></label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="subject"
                                    maxlength="255"
                                />
                                <!-- subject name input validation start -->
                                <div
                                    *ngIf="
                                        contactUsSubject.invalid &&
                                        (contactUsSubject.dirty ||
                                            contactUsSubject.touched)
                                    "
                                    class="alert alert-danger mt-1 small"
                                >
                                    <div
                                        *ngIf="
                                            contactUsSubject.errors.required ||
                                            contactUsSubject.errors
                                                .notOnlyWhiteSpace
                                        "
                                    >
                                        Subject is required
                                    </div>

                                    <div
                                        *ngIf="
                                            contactUsSubject.errors.minlength
                                        "
                                    >
                                        Subject must be at least 2 characters
                                        long
                                    </div>
                                    <div
                                        *ngIf="
                                            contactUsSubject.errors.maxlength
                                        "
                                    >
                                        Subject must not exceed 255 characters
                                    </div>
                                </div>
                                <!-- subject name input validation end -->
                            </div>
                            <!-- subject input end -->
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <!-- categories input start -->
                            <div class="form-group">
                                <div id="inputCategory" class="select-box">
                                    <label
                                        >Categories
                                        <span class="required">*</span></label
                                    >

                                    <select
                                        class="form-control"
                                        formControlName="category"
                                    >
                                        <!-- Add a default option as a placeholder -->
                                        <option value="" disabled selected>
                                            --Select an option--
                                        </option>
                                        <option
                                            *ngFor="let category of categories"
                                            [ngValue]="category"
                                        >
                                            {{ category.name }}
                                        </option>
                                    </select>
                                    <!-- categories select input validation start -->
                                    <div
                                        *ngIf="
                                            contactUsCategory.invalid &&
                                            (contactUsCategory.dirty ||
                                                contactUsCategory.touched)
                                        "
                                        class="alert alert-danger mt-1 small"
                                    >
                                        <div
                                            *ngIf="
                                                contactUsCategory.errors
                                                    .required
                                            "
                                        >
                                            Category is required
                                        </div>
                                    </div>
                                    <!-- categories select input validation end -->
                                </div>
                            </div>
                            <!-- categories input end -->
                        </div>

                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label
                                    >Message
                                    <span class="required">*</span></label
                                >
                                <textarea
                                    class="form-control"
                                    formControlName="message"
                                    placeholder="Please keep your message concise and under 1000 characters."
                                    cols="30"
                                    rows="8"
                                    maxlength="1000"
                                ></textarea>
                                <!-- message name input validation start -->
                                <div
                                    *ngIf="
                                        contactUsMessage.invalid &&
                                        (contactUsMessage.dirty ||
                                            contactUsMessage.touched)
                                    "
                                    class="alert alert-danger mt-1 small"
                                >
                                    <div
                                        *ngIf="
                                            contactUsMessage.errors.required ||
                                            contactUsMessage.errors
                                                .notOnlyWhiteSpace
                                        "
                                    >
                                        Message is required
                                    </div>

                                    <div
                                        *ngIf="
                                            contactUsMessage.errors.minlength
                                        "
                                    >
                                        Message must be at least 2 characters
                                        long
                                    </div>
                                    <div
                                        *ngIf="
                                            contactUsMessage.errors.maxlength
                                        "
                                    >
                                        Message must not exceed 1000 characters
                                    </div>
                                </div>
                                <!-- message name input validation end -->
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 text-center">
                            <button
                                type="submit"
                                class="default-btn page-btn text-center"
                                [disabled]="isDisabled"
                            >
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer-style-one></app-footer-style-one>
