<div class="border-bottom py-3 mb-3">
    <ul class="nav nav-fill">
        <li class="nav-item profile-nav-links">
            <a
                class="nav-link fw-bold"
                aria-current="profile"
                routerLink="/user/profile"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{
                    exact: true
                }"
                >Profile</a
            >
        </li>
        <li class="nav-item profile-nav-links">
            <a
                class="nav-link fw-bold"
                routerLink="/unlink-social"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{
                    exact: true
                }"
                >Unlink Social</a
            >
        </li>
        <li class="nav-item profile-nav-links">
            <a
                class="nav-link fw-bold"
                routerLink="/user/password-reset"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{
                    exact: true
                }"
                >Change Password</a
            >
        </li>
        <li class="nav-item profile-nav-links">
            <a
                class="nav-link fw-bold"
                routerLink="/user/manage-account"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{
                    exact: true
                }"
                >Manage Account</a
            >
        </li>
    </ul>
</div>
