<app-navbar-style-one></app-navbar-style-one>

<section class="sign-up-area ptb-100">
    <div class="container">
        <div class="contact-wrap-form sign-in-width">
            <div class="scetion-title text-center">
                <span>Ready to Start a Project?</span>
                <h2>Create An Account</h2>
                <p>with your social network</p>
                <ul class="sign-social-icon">
                    <li>
                        <a href="#" class="bg-primary"
                            ><i class="bx bxl-facebook"></i
                        ></a>
                    </li>
                    <li>
                        <a href="#" class="bg-danger"
                            ><i class="bx bxl-google"></i
                        ></a>
                    </li>
                </ul>
            </div>

            <form>
                <div class="row border-top">
                    <p class="py-4">or with your email address</p>

                    <div class="col-12">
                        <div class="form-group">
                            <input
                                class="form-control"
                                type="text"
                                name="username"
                                placeholder="Username (Required)"
                            />
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <input
                                class="form-control"
                                type="text"
                                name="company"
                                placeholder="Company"
                            />
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <input
                                class="form-control"
                                type="email"
                                name="name"
                                placeholder="Email (Required)"
                            />
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <input
                                class="form-control"
                                type="password"
                                name="password"
                                placeholder="Password (Required)"
                            />
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <input
                                class="form-control"
                                type="password"
                                name="cpassword"
                                placeholder="Confirm Password (Required)"
                            />
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <button
                            class="default-btn btn-two sign-btn"
                            type="submit"
                        >
                            Sign Up
                        </button>
                    </div>

                    <div class="col-12">
                        <p class="account-desc">
                            Already have an account?
                            <a routerLink="/sign-in">Sign In</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
