<app-navbar-style-one></app-navbar-style-one>

<section class="product-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Products</span>
        </div>

        <!-- product search controls area start -->
        <div class="product-search">
            <!-- search bar start -->
            <app-product-search-bar></app-product-search-bar>
            <!-- search bar end -->

            <!-- search filter start -->

            <app-search-filter
                (newPageSizeEvent)="handleNewPageSizeEvent($event)"
            ></app-search-filter>
            <!-- search filter end -->
        </div>
        <!-- product search controls area end -->

        <!-- product list start -->
        <div class="row pt-20">
            <div class="col-lg-4 col-md-6" *ngFor="let p of products">
                <div class="product-card">
                    <a routerLink="/product/{{ p.id }}"
                        ><img
                            [src]="p.productMediaSet[0].url"
                            alt="Products Image"
                    /></a>

                    <div class="product-content">
                        <a routerLink="/product/{{ p.id }}"
                            ><h3>
                                {{ p.manufacturer.name | titlecase }} -
                                {{ p.name | titlecase }}
                            </h3></a
                        >
                        <p>colors here</p>
                        <p>
                            1 starting at
                            <span>{{ p.unitPrice | currency }}</span> / unit
                        </p>
                        <!-- <div class="product-cart">
                            <ul>
                                <li>
                                    <a routerLink="/"
                                        ><i class="bx bx-heart"></i
                                    ></a>
                                </li>
                                <li>
                                    <a routerLink="/cart"
                                        ><i class="bx bx-cart"></i
                                    ></a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- if no products found then display this message -->
            <div
                *ngIf="products?.length == 0"
                class="alert alert-warning col-md-12"
                role="alert"
            >
                No products found.
            </div>

            <!-- product pagination start -->
            <div class="col-lg-12">
                <div class="pagination-area">
                    <nav aria-label="Page navigation example text-center">
                        <ul class="pagination">
                            <li
                                class="page-item"
                                [class.disabled]="pageNumber === 1"
                            >
                                <a
                                    class="page-link page-links"
                                    (click)="goToPage(pageNumber - 1)"
                                >
                                    <i
                                        class="bx bx-chevron-left align-middle fw-bold"
                                    ></i>
                                    Previous
                                </a>
                            </li>
                            <li
                                class="page-item"
                                [class.current]="pageNumber === 1"
                            >
                                <a class="page-link" (click)="goToPage(1)">1</a>
                            </li>
                            <li class="page-item" *ngIf="pageNumber > 3">
                                <span class="page-link">...</span>
                            </li>
                            <li
                                class="page-item"
                                *ngFor="let page of getPagesArray()"
                                [class.current]="pageNumber === page"
                            >
                                <a class="page-link" (click)="goToPage(page)">{{
                                    page
                                }}</a>
                            </li>
                            <li
                                class="page-item"
                                *ngIf="pageNumber < totalPages - 2"
                            >
                                <span class="page-link">...</span>
                            </li>
                            <li
                                class="page-item"
                                *ngIf="totalPages > 1"
                                [class.current]="pageNumber === totalPages"
                            >
                                <a
                                    class="page-link"
                                    (click)="goToPage(totalPages)"
                                    >{{ totalPages }}</a
                                >
                            </li>
                            <li
                                class="page-item"
                                [class.disabled]="pageNumber === totalPages"
                            >
                                <a
                                    class="page-link page-links"
                                    (click)="goToPage(pageNumber + 1)"
                                >
                                    Next
                                    <i
                                        class="bx bx-chevron-right align-middle fw-bold"
                                    ></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- product pagination end -->
        </div>
        <!-- product list end -->
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
