input[type="search"] {
    text-indent: 1.5rem;
}

.search-btn {
    background: none;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 9999;
}



.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

i.bi {
    font-size: 0.5rem; /* Adjust the size as desired */
}
