<div class="row my-2">
    <div class="mx-auto col-12">
        <form [formGroup]="searchForm" (ngSubmit)="doProductSearch()">
            <div class="input-group">
                <input
                    type="search"
                    class="form-control py-2"
                    placeholder="Search products"
                    aria-label="Search"
                    aria-describedby="search-addon"
                    formControlName="query"
                    (keyup.enter)="searchForm.valid && doProductSearch()"
                    appNoWhitespace
                />

                <button
                    type="submit"
                    class="input-group-text search-btn"
                    id="search-addon"
                    [disabled]="!searchForm.valid"
                    [ngClass]="{ disabled: !searchForm.valid }"
                >
                    <i class="align-middle bx bx-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>
