<div class="row mt-4">
    <div class="mx-auto col-12">
        <div class="input-group">
            <input
                type="search"
                #mySearchInput
                class="form-control rounded-0"
                placeholder="Search products"
                aria-label="Search"
                aria-describedby="search-addon"
                (keyup.enter)="doProductSearch(mySearchInput.value)"
            />


            <span
                class="input-group-text border-0 search-btn"
                id="search-addon"
            >
                <i class="align-middle bx bx-search"></i>
            </span>
            <button (click)="doProductSearch(mySearchInput.value)">
                Search
            </button>
        </div>
    </div>
</div>
