$title-color: #2d3652;

.form-group-select {
    label {
        padding: 10px 20px;
    }
    select {
        /*webkit browsers */
        -webkit-appearance: auto !important;
        /*Firefox */
        -moz-appearance: auto !important;
        /* modern browsers */
        appearance: auto !important;
    }
    .form-control {
        height: 50px;
        color: $title-color;
        border: 1px solid #e8e8e8;
        background-color: #fcfcff;
        border-radius: 0;
        padding: 10px 20px;
        width: 100%;

        &:focus {
            outline: none;
            box-shadow: none;
            border-color: $title-color;
        }
    }
}
.with-errors {
    float: left;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #f00;
    font-weight: 400;
    display: block;
}
.text-danger {
    font-size: 18px;
    margin-top: 15px;
}
