<app-navbar-style-one></app-navbar-style-one>

<div class="faq-area-bg pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>FAQ</span>
            <h2>Frequently Asked Questions</h2>
            <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
            </p>
        </div>

        <div class="row align-items-center pt-45">
            <div class="col-lg-6">
                <div class="faq-accordion faq-accordion-width">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"
                                ><i class="bx bx-chevron-down"></i> What is the
                                Printing Quality?</a
                            >

                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipis cing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"
                                ><i class="bx bx-chevron-down"></i> Do You Have
                                a Digital Printing Machine?</a
                            >

                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipis cing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a
                                class="accordion-title"
                                href="javascript:void(0)"
                            >
                                <i class="bx bx-chevron-down"></i> Do You Design
                                a Book Cover?</a
                            >

                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipis cing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"
                                ><i class="bx bx-chevron-down"></i> Do You
                                Design a T-shirt?</a
                            >

                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipis cing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="faq-accordion faq-accordion-width">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"
                                ><i class="bx bx-chevron-down"></i> How Do We
                                Give Home Delivery?</a
                            >

                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipis cing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"
                                ><i class="bx bx-chevron-down"></i> Is This Dizo
                                24 Hours Open?</a
                            >

                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipis cing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"
                                ><i class="bx bx-chevron-down"></i> What is Your
                                Service Quality?</a
                            >

                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipis cing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"
                                ><i class="bx bx-chevron-down"></i> What is Your
                                Product Quality?</a
                            >

                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipis cing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact-section pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Didn't see what you're looking for?</span>
            <h2>Ask Any Questions</h2>
        </div>

        <div class="slider-btn text-center mt-3">
            <a routerLink="/sign-up" class="default-btn">Contact Us</a>
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
