
.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

.active-link{
    text-decoration: underline;
}

i.bi {
    font-size: 0.5rem; /* Adjust the size as desired */
}
