<app-navbar-style-one></app-navbar-style-one>

<div class="about-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="assets/img/about/about1.png" alt="About Images" />
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-content">
                    <span>About Us</span>
                    <h2>Shirt Moxy, LLC</h2>
                    <p>
                        By using industry expertise, technical knowledge and
                        creative thinking, we have established ourselves as the
                        premiere printing solution for large volume contract
                        printing, regional brands, and local businesses.
                    </p>
                    <p>
                        on Street Printing was started in 2010 amongst friends
                        and family with a passion for the arts and northwest
                        rooted clothing. ​
                    </p>
                    <p>
                        Starting with a single press, and garage, we're proud to
                        have grown to be recognized as one of the Northwest's
                        premiere silk screen shops
                    </p>

                    <h3 class="mt-5">Our Mission</h3>
                    <p>
                        By using industry expertise, technical knowledge and
                        creative thinking, we have established ourselves as the
                        premiere printing solution for large volume contract
                        printing, regional brands, and local businesses.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-style-one></app-footer-style-one>
