<footer class="footer-area">
    <div class="container">
        <div class="footer-contact">
            <div class="newsleter-area">
                <h2>Subscribe Our Newsletter</h2>

                <form class="newsletter-form">
                    <input
                        type="email"
                        class="form-control"
                        placeholder="Enter your email"
                        name="EMAIL"
                    />
                    <button class="subscribe-btn" type="submit">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>

        <div class="footer-top-list pb-70">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="footer-list">
                        <h3>Company</h3>

                        <ul>
                            <li>
                                <i class="bx bxs-chevron-right"></i>
                                <a routerLink="/contact">Contact Us</a>
                            </li>
                            <li>
                                <i class="bx bxs-chevron-right"></i>
                                <a routerLink="/about">About Us</a>
                            </li>
                            <li>
                                <i class="bx bxs-chevron-right"></i>
                                <a routerLink="/product">Products</a>
                            </li>
                            <li>
                                <i class="bx bxs-chevron-right"></i>
                                <a routerLink="/">Careers</a>
                            </li>
                            <li>
                                <i class="bx bxs-chevron-right"></i>
                                <a routerLink="/">Terms of Use</a>
                            </li>
                            <li>
                                <i class="bx bxs-chevron-right"></i>
                                <a routerLink="/">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="footer-list">
                        <h3>Order & Purchases</h3>
                        <ul>
                            <li>
                                <i class="bx bxs-chevron-right"></i
                                ><a routerLink="/">Track Order Status</a>
                            </li>
                            <li>
                                <i class="bx bxs-chevron-right"></i
                                ><a routerLink="/">Shipping & Returns</a>
                            </li>
                            <li>
                                <i class="bx bxs-chevron-right"></i
                                ><a routerLink="/">FAQs</a>
                            </li>
                            <li>
                                <i class="bx bxs-chevron-right"></i
                                ><a routerLink="/">Coupons & Promo Codes</a>
                            </li>
                            <li>
                                <i class="bx bxs-chevron-right"></i
                                ><a routerLink="/">Payment Options</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5">
                    <div class="footer-side-list">
                        <h3>Lorem Ipsum</h3>

                        <ul class="social-bottom">
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="bx bxl-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="bx bxl-instagram"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="bx bxl-tiktok"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <div class="footer-logo">
                        <img src="assets/img/logo.png" alt="Footer Logo" />
                    </div>
                </div>

                <div class="col-lg-8 col-md-9">
                    <div class="bottom-text">
                        <p>
                            Copyright © {{ currentYear }} Shirt Moxy. All Rights
                            Reserved.
                        </p>
                        <ul class="social-bottom">
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="bx bxl-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="bx bxl-twitter"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"
                                    ><i class="bx bxl-instagram"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
