<div class="navbar-area border-bottom">
    <!-- nav mobile start -->
    <div class="mobile-nav">
        <a routerLink="/" class="mobile-nav-item"
            ><img src="https://placehold.co/54" alt="Logo"
        /></a>

        <a
            routerLink="/sign-in"
            class="mobile-nav-item mobile-account ms-5"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{
                exact: true
            }"
            ><i class="bx bx-user"></i
        ></a>
        <a
            routerLink="/cart"
            class="mobile-nav-item mobile-cart ms-5"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{
                exact: true
            }"
            ><i class="bx bx-cart"></i
            ><span
                class="cart-badge-counter position-absolute translate-middle badge rounded-pill bg-danger p-1"
                [hidden]="false"
            >
                10
                <span class="visually-hidden">cart counter badge</span>
            </span></a
        >
    </div>
    <!-- nav mobile end -->

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/"
                    ><img src="assets/img/logo.png" alt="Logo"
                /></a>

                <div
                    class="collapse navbar-collapse mean-menu"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a
                                routerLink="/"
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                                >Home</a
                            >
                        </li>

                        <li class="nav-item">
                            <a
                                routerLink="/product"
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                                >Products</a
                            >
                        </li>

                        <li class="nav-item">
                            <a
                                routerLink="/about"
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                                >About Us</a
                            >
                        </li>

                        <li class="nav-item">
                            <a
                                routerLink="/contact"
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                                >Contact Us</a
                            >
                        </li>

                        <li class="nav-item">
                            <a
                                routerLink="/faq"
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{
                                    exact: true
                                }"
                                >FAQ</a
                            >
                        </li>

                        <li class="nav-item">
                            <a
                                routerLink="/coming-soon"
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{
                                    exact: true
                                }"
                                >Shipping & Returns</a
                            >
                        </li>

                        <!-- 
                        <div class="menu-btn">
                            <a href="tel:+11234567890" class="phone-btn"
                                ><i class="bx bxs-phone"></i> +1 123 456 7890</a
                            >
                        </div> -->
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link"
                                ><i class="bx bx-user"></i> Account</a
                            >

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <p
                                        class="p-2 text-center text-secondary small"
                                    >
                                        Save your designs, easily track your
                                        orders, and get access to exclusive
                                        member benefits.
                                    </p>
                                </li>
                                <li class="nav-item">
                                    <a
                                        routerLink="/sign-in"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        ><i class="bx bx-log-in"></i> Sign In</a
                                    >
                                </li>

                                <li class="nav-item">
                                    <a
                                        routerLink="/track"
                                        class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        ><i class="bx bxs-package"></i> Track
                                        Order</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item position-relative">
                            <a
                                routerLink="/cart"
                                class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{
                                    exact: true
                                }"
                                ><i class="bx bx-cart"></i> Cart<span
                                    class="cart-badge-counter position-absolute translate-middle badge rounded-pill bg-danger p-1"
                                    [hidden]="false"
                                >
                                    20
                                    <span class="visually-hidden"
                                        >cart counter badge</span
                                    >
                                </span></a
                            >
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
