<app-navbar-style-one></app-navbar-style-one>
<section class="sign-up-area ptb-100">
    <div class="container">
        <div class="contact-wrap-form">
            <!-- nav tabs start -->
            <app-profile-navbar></app-profile-navbar>
            <!-- nav tabs end -->

            <div class="py-3 mb-3">
                <p class="fw-bold">Set New Password</p>
            </div>

            <!-- recover password form start -->
            <form
                class="change-password-width"
                name="form"
                #f="ngForm"
                (ngSubmit)="f.form.valid && onSubmit()"
            >
                <div class="row">
                    <div class="col-sm-12">
                        <!-- old password input start -->
                        <div class="form-group">
                            <div class="input-group">
                                <input
                                    class="form-control"
                                    [type]="
                                        inputFieldTypes[0] ? 'text' : 'password'
                                    "
                                    name="oldPassword"
                                    placeholder="Old Password"
                                    [(ngModel)]="form.oldPassword"
                                    required
                                    minlength="6"
                                    maxlength="40"
                                    #oldPassword="ngModel"
                                    [ngClass]="{
                                        'is-invalid':
                                            f.submitted && oldPassword.errors
                                    }"
                                />

                                <!-- old password show/hide toggle start -->
                                <span
                                    class="input-group-text border-0 password-visibility-toggle-btn"
                                >
                                    <i
                                        class="bx text-secondary"
                                        [ngClass]="{
                                            'bx-hide': !inputFieldTypes[0],
                                            'bx-show': inputFieldTypes[0]
                                        }"
                                        (click)="toggleInputFieldType(0)"
                                    ></i>
                                </span>
                                <!-- old password show/hide toggle end -->

                                <!-- old password input validation start -->
                                <div
                                    *ngIf="f.submitted && oldPassword.errors"
                                    class="invalid-feedback"
                                >
                                    <div *ngIf="oldPassword.errors['required']">
                                        Old Password is required
                                    </div>
                                    <div
                                        *ngIf="oldPassword.errors['minlength']"
                                    >
                                        Old Password must be at least 6
                                        characters
                                    </div>
                                    <div
                                        *ngIf="oldPassword.errors['maxlength']"
                                    >
                                        Old Password must not exceed 40
                                        characters
                                    </div>
                                </div>
                                <!-- old password input validation end -->
                            </div>
                        </div>
                        <!-- old password input end -->
                    </div>

                    <div class="col-sm-12">
                        <!-- new password input start -->
                        <div class="form-group">
                            <div class="input-group">
                                <input
                                    class="form-control"
                                    [type]="
                                        inputFieldTypes[1] ? 'text' : 'password'
                                    "
                                    name="newPassword"
                                    placeholder="New Password"
                                    [(ngModel)]="form.newPassword"
                                    required
                                    minlength="6"
                                    maxlength="40"
                                    #newPassword="ngModel"
                                    [ngClass]="{
                                        'is-invalid':
                                            f.submitted && newPassword.errors
                                    }"
                                />

                                <!-- new password show/hide toggle start -->
                                <span
                                    class="input-group-text border-0 password-visibility-toggle-btn"
                                >
                                    <i
                                        class="bx text-secondary"
                                        [ngClass]="{
                                            'bx-hide': !inputFieldTypes[1],
                                            'bx-show': inputFieldTypes[1]
                                        }"
                                        (click)="toggleInputFieldType(1)"
                                    ></i>
                                </span>
                                <!-- new password show/hide toggle end -->

                                <!-- new password input validation start -->
                                <div
                                    *ngIf="f.submitted && newPassword.errors"
                                    class="invalid-feedback"
                                >
                                    <div *ngIf="newPassword.errors['required']">
                                        New Password is required
                                    </div>
                                    <div
                                        *ngIf="newPassword.errors['minlength']"
                                    >
                                        New Password must be at least 6
                                        characters
                                    </div>
                                    <div
                                        *ngIf="newPassword.errors['maxlength']"
                                    >
                                        New Password must not exceed 40
                                        characters
                                    </div>
                                </div>
                                <!-- new password input validation end -->
                            </div>
                        </div>
                        <!-- new password input end -->
                    </div>

                    <div class="col-sm-12">
                        <!-- confirm password input start -->
                        <div class="form-group">
                            <div class="input-group">
                                <input
                                    class="form-control"
                                    [type]="
                                        inputFieldTypes[2] ? 'text' : 'password'
                                    "
                                    name="confirmPassword"
                                    placeholder="Confirm Password"
                                    [(ngModel)]="form.confirmPassword"
                                    required
                                    maxlength="40"
                                    #confirmPassword="ngModel"
                                    [ngClass]="{
                                        'is-invalid':
                                            f.submitted &&
                                            confirmPassword.errors
                                    }"
                                />

                                <!-- confirm password show/hide toggle start -->
                                <span
                                    class="input-group-text border-0 password-visibility-toggle-btn"
                                >
                                    <i
                                        class="bx text-secondary"
                                        [ngClass]="{
                                            'bx-hide': !inputFieldTypes[2],
                                            'bx-show': inputFieldTypes[2]
                                        }"
                                        (click)="toggleInputFieldType(2)"
                                    ></i>
                                </span>
                                <!-- confirm password show/hide toggle end -->

                                <!-- confirm password input validation start -->
                                <div
                                    *ngIf="
                                        f.submitted && confirmPassword.errors
                                    "
                                    class="invalid-feedback"
                                >
                                    <div
                                        *ngIf="
                                            confirmPassword.errors['required']
                                        "
                                    >
                                        Confirm Password is required
                                    </div>
                                    <div
                                        *ngIf="
                                            confirmPassword.errors['matching']
                                        "
                                    >
                                        Confirm Password does not match
                                    </div>
                                </div>
                                <!-- confirm password input validation end -->
                            </div>
                        </div>
                        <!-- confirm password input end -->
                    </div>

                    <div class="col-12 text-center">
                        <button class="default-btn btn-two" type="submit">
                            Reset Password
                        </button>
                    </div>
                </div>
            </form>
            <!-- recover password form end -->
        </div>
    </div>
</section>
<app-footer-style-two></app-footer-style-two>
