$title-color: #2d3652;

input[type="search"] {
    text-indent: 1.5rem;
}

#sidebar-nav {
    width: 25vw;
}

.filter-title {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;

    h2,
    i.bi {
        font-size: 18px;
    }
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

.active-link-btn {
    text-decoration: underline;
    font-weight: bold;
}

.form-check {
    .form-check-input {
        width: 20px;
        height: 20px;
    }
    .form-check-label {
        color: $title-color;
        margin-left: 5px;
        font-weight: 500;
    }
}
