<app-navbar-style-one></app-navbar-style-one>

<div class="home-slider owl-carousel owl-theme">
    <div class="slider-item bg-item1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="slider-content">
                        <h1>Lorem Ipsum Dolor</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Quisipsum suspendisse ultrices
                            gravida.
                        </p>
                        <div class="slider-btn">
                            <a routerLink="/sign-up" class="default-btn"
                                >Get Started</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item bg-item2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="slider-content">
                        <h1>Advertisment 2 (ex: Social Proof)</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Quisipsum suspendisse ultrices
                            gravida.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item bg-item3">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="slider-content">
                        <h1>Advertisment 3 (ex: Portfolio)</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Quisipsum suspendisse ultrices
                            gravida.
                        </p>
                        <div class="slider-btn">
                            <a routerLink="/" class="default-btn">Know More</a>
                            <a routerLink="/product" class="default-btn active"
                                >Our Products</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-images ptb-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Lorem Ipsum Dolor</span>
            <h2>Our Products</h2>
        </div>

        <div class="product-images-slider owl-carousel owl-theme">
            <a routerLink="/product-details">
                <div class="product-images-item">
                    <img src="assets/img/home1/s-1.jpg" alt="Images" /></div
            ></a>

            <a routerLink="/product-details">
                <div class="product-images-item">
                    <img src="assets/img/home1/s-2.jpg" alt="Images" /></div
            ></a>

            <a routerLink="/product-details">
                <div class="product-images-item">
                    <img src="assets/img/home1/s-3.jpg" alt="Images" />
                </div>
            </a>

            <a routerLink="/product-details">
                <div class="product-images-item">
                    <img src="assets/img/home1/s-4.jpg" alt="Images" />
                </div>
            </a>

            <a routerLink="/product-details">
                <div class="product-images-item">
                    <img src="assets/img/home1/s-5.jpg" alt="Images" /></div
            ></a>
        </div>
    </div>
</div>

<section class="choose-area ptb-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>3 Steps to Done</span>
            <h2>How It Works</h2>
            <p>
                It’s simple really. You send us your customer’s order, manually
                or automatically. Our Print specialists print your design on a
                high quality products that will not only wow your customer, but
                will have them coming back again and again. We check for quality
                each step of the way, to make sure it’s just right and meets
                with our standards.
            </p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-sm-12">
                <div class="choose-card">
                    <i class="bx bx-purchase-tag"></i>
                    <h3>You Sell</h3>
                    <p class="px-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="choose-card">
                    <i class="bx bx-printer"></i>
                    <h3>We Print</h3>
                    <p class="px-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="choose-card">
                    <i class="bx bxs-truck"></i>
                    <h3>We Ship</h3>
                    <p class="px-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- features start -->
<section class="ptb-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>The best</span>
            <h2>Features</h2>
            <p>
                We are here to serve you, helping you save time and money.
                Concentrate on growing your business and communication with your
                customers…leave the inky stuff to us.
            </p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-6 col-sm-12">
                <ul class="timeline">
                    <li class="timeline-item mb-5">
                        <div>
                            <h3>Working directly with small businesses</h3>
                            <p>
                                Do you have one custom order, or 1000 of the
                                shirts? Either way, your order will receive the
                                same quality and attention to detail. We are
                                here to help you profit more, so you can grow
                                into a bigger, business and we can too.
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item mb-5">
                        <div>
                            <h3>Fast shipping</h3>
                            <p>
                                Your customers want their products! Getting it
                                there at lightening speed reflects well on you.
                                We are here to protect that relationship so
                                you’ll continue doing business with us. From the
                                initial order to their door can take as little
                                as 5-10 days.
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item mb-5">
                        <div>
                            <h3>Automate your order submission</h3>
                            <p>
                                Our app, now in Beta, will integrate with most
                                ecommerce websites.Create a seamless order
                                communication right to us.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 col-sm-12">
                <ul class="timeline">
                    <li class="timeline-item mb-5">
                        <div>
                            <h3>No monthly fees, or hidden costs ever</h3>
                            <p>
                                What you see is what you pay. Integrity is
                                important to us as a business that is growing.
                                And we can’t do it without you. It benefits both
                                businesses and saves time by being transparent.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <div>
                            <h3>USA Based & Shipping Worldwide</h3>
                            <p>
                                For many, Made In the USA, are words as sweet as
                                a chocolate egg at Easter. We create all of your
                                custom orders, right in the US of A, even when
                                it might be shipped elsewhere. Quality you can
                                definitely trust.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <div>
                            <h3>We Guarantee…</h3>
                            <p>
                                High quality digital print products, the lowest
                                prices, superb service, the order goes out,
                                correctly the first time, or we fix it at our
                                expense.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- features end -->

<!-- get started start-->
<section class="choose-area ptb-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <h2>Ready to Start?</h2>
            <p>
                Let’s be real. We make money when you make money. Creating a
                quality product at the lowest prices, will have you doing
                business with us now and in the future. Our interest is the same
                as yours. Our bottom line starts with your satisfaction and your
                customer's enjoyment of their order. Give us a chance to WOW
                you.
            </p>
        </div>

        <div class="row pt-45 text-center">
            <div class="col-lg-12 col-sm-12">
                <div class="slider-btn">
                    <a routerLink="/sign-up" class="default-btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>
